html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
  background-color: #1B3C53;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
}

.navbar ul {
  text-align: right;
}

.navbar ul li {
  display: inline-block;
  list-style: none;
  padding: 8px 12px;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #FAF7F3;
  transition: 0.5s;
}

.navbar ul li a:hover {
  color: #D9A299;
}

.main-home {
  padding: 2rem 5rem 2rem 5rem;
  display: flex;
  align-items: center;
  height: 70vh;
}

.home-container {
  margin-top: 50px;
  align-items: center;
  width: 600px;
}

.home-container h2 {
  color: #DCC5B2;
  font-family: monospace
}

.home-container h1 {
  font-size: 4rem;
  color: #D9A299;
}

.home-container p {
  color: #F0E4D3;
  font-size: 18px;
}

.home-container button {
  border-radius: 25px;
  background-color: #D9A299;
  border: 1px solid #D9A299;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
  padding: 16px 24px;

  text-decoration: none;
  transition: all 200 ease-in-out;
}

.home-container button:hover {
  color: #1B3C53;
  background: #F0E4D3;
  cursor: pointer;
}

.download-cv {
  margin-right: 10px;
}

.contact-me {
  margin-left: 10px;
}

.my-photo img {
  display:block;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 75%;
  margin-left: 60%;
  box-shadow: 0 4px 20px rgba(0, 255, 255, 0.5);
  transition: all 150ms ease-in-out;
}

.my-photo img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

section {
  padding: 80px 20px;
  margin: 130px auto;
  background: #F0E4D3;
}

.about-section h1 {
  text-align: center;
  font-size: 3rem;
  color: #1B3C53;
}

span {
  color: #415E72;
}

.about-section p {
  padding: 40px;
  font-size: 18px;
  line-height: 1.5;
}

strong a {
  text-decoration: none;
  color: #415E72;
}

footer {
  padding: 22px;
  font-size: 14px;
  font-family: monospace;
  color: #FFFFFF;
}

